{% extends "insure_brother/base.html" %}

{% block content %}

<div class="wrapper">
    <h2>Страховые компании и их услуги</h2>


    <form action="#" method="get">
        {{ form.as_p }}
        <input type="submit" />
    </form>

    {% for service in services %}
    <div class="service">
        <b>Компания: </b> <span>{{ service.company.name }}</span> <br>
        <b>Дата начала работы компании: </b> <span>{{ service.company.date_creat}}</span><br>
        <b>Вид страховой услуги: </b> <span>{{ service.category }}</span><br>
        <b>Название услуги:  </b> <span> {{ service.name }}</span><br>
        <b>Стоимость услуги от:  </b> <span>{{ service.min_price }} &#8381</span><br>
        <b>Минимальный срок страхования: </b> <span>{{ service.min_term }} мес.</span><br>
        <b>Минимальная сумма выплаты от: </b> <span>{{ service.min_payment }} &#8381</span><br>
        <b>Максимальная сумма выплаты до: </b> <span>{{ service.max_payment }} &#8381</span><br>
        <b>Дополнительная информация о услуге: </b> <span>{{ service.description }}</span><br>
        <input type="button"  value="Хочу купить">
    </div>
    {% endfor %}
    
</div>
{% endblock %}