{% extends "insure_brother/base.html" %}

{% block content %}


<div class="wrapper">
    <h3>Услуги страховых компаний</h3>

        <div class="table">
            <div class="table_title">
                <div class="table_header">
                    <div class="company">
                        <span>Компания</span>
                    </div>
                </div>
                <div class="table_header">
                    <div class="service_name">
                        <span>Название услуги</span>
                    </div>
                </div>
                <div class="table_header">
                    <div class="service_type">
                        <span>Вид услуги</span>
                    </div>
                </div>
                <div class="table_header">
                    <div class="min_sum">
                        <span>"Минимальная сумма"
                            <br>
                            "покрытия, ₽"
                        </span>
                    </div>
                </div>
                <div class="table_header">
                    <div class="service_type">
                        <span>"Минимальная срок"
                            <br>
                            "страхования, мес"
                        </span>
                    </div>
                </div>
            </div>
           
            {% for service in services %}
            <div class="service">
                <div>
                    <p> {{ service.company }}</p>
                </div>
                <div>
                    <p> {{ service.name }}</p>
                </div>
                <div>
                    <p> {{ service.category }}</p>
                </div>
                <div>
                    <p> {{ service.min_payment }}</p>
                </div>
                <div>
                    <p> {{ service.min_term}}</p>
                </div>
                <div>
                    <button type="submit">Купить</button>
                </div>
            </div>
            {% endfor %}    
        </div>
    
</div>


{% endblock %}